footer
  .footer-container
    .logo-container
      nuxt-link.nav-item.footer-logo(to="/") Finanzen richtig einfach
    pbtn.mt-3(to="/appointment" text="Meinen Finanzkompass erstellen")
    .links-container.mt-3
      span |
      nuxt-link.nav-item(v-for="item in navItems" :to="`/${item.url}`" :key="item.title") {{item.title}}
      span |
