div
  .page-container
    .header
      .title Datenschutzerkl채rung
    .content
      h2.ff-title Gesch채ftsf체hrer:
        p Institut f체r Story-Marketing GmbH
        p Axel Beta
        p Strasse in Hamburg
        p 22419 Hamburg
