.page-container
  .page-content
    div
      slot(name="page-content")
        h2 Über Ihren Erfolg entscheiden Sie!
        p Reden Sie mit uns
        pbtn.mt-4(to="appointment" text="Beratungsgespräch vereinbaren")
