div
  .navigation.fixed-top.transparent
    b-navbar(toggleable='md' variant='info')
      b-navbar-brand(href='#') NavBar
      b-navbar-toggle(target='nav-collapse')
      b-collapse#nav-collapse(is-nav='')
        b-navbar-nav.ml-auto(v-for="item in navItems" :key="item.title")
          nuxt-link(:to="item.url") {{item.title}}
