div
  .navigation.fixed-top.transparent
    b-navbar(toggleable='md' variant='info')
      b-navbar-brand(href='#') NavBar
      b-navbar-toggle(target='nav-collapse')
      b-collapse#nav-collapse(is-nav='')
        b-navbar-nav(v-for="item in navItems" :key="item.title")
          nuxt-link.nav-item(:to="item.url") {{item.title}}
          span.nav-hover
