:root {
  --primary-color: #0F3661;
  --secondary-color: #F2C21A;
  --write-color: white;
  --disable-color: darkgray;
}

* {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: var(--write-color);
}

.h1 {
  font-size: 4rem;
}

.btn-primary, .btn-transparent {
  padding: 10px 40px;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  border-radius: unset;
  border: var(--primary-color) 4px solid;
  transition: border .2s ease-out, color .5s ease-out, background-color .2s ease-out;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border: var(--secondary-color) 4px solid;
  transition: border .2s ease-out, color .2s ease-out, background-color .2s ease-out;
}

.btn-transparent {
  background-color: transparent;
  border: white 4px solid;
  color: var(--write-color);
  font-weight: bold;
  transition: border .2s ease-out, color .2s ease-out;
}

.btn-transparent:hover {
  border: var(--disable-color) 4px solid;
  color: var(--disable-color);
  transition: border .2s ease-out, color .2s ease-out;
  text-decoration: none;
}


/* Nuxt Css classes */

.page-enter-active, .page-leave-action {
  transition: opacity .6s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}


