div
  .jumbotron-custom
    .video-container(v-if="showVideo")
      .video-color-overlay
      slot(name='video')
        video(autoplay loop muted)
          source(src='~/assets/video/jumbotronv1.mp4' type='video/mp4')
    .jumbotron-container
      h1.jumbotron-h1 {{title}}
      p.h4 {{subtitle}}
      p.description
        | Endlich eine einfache und zeitsparende Planung der Finanzen haben und damit das gute Gefühl, gegenüber den Ereignissen des Lebens finanziell gewappnet zu sein.
      .row.action-container
        nuxt-link.col-12.col-md-5.btn-primary(to="appointment") Beratungsgespräch vereinbaren
        nuxt-link.col-12.col-md-5.btn-transparent(to="videos") Zu den Videos
