div
  .jumbotron-custom
    .jumbotron-container
      h1.jumbotron-h1 {{title}}
      p.h4 {{subtitle}}
      .row.action-container
        nuxt-link.col-12.col-md-5.btn-primary(to="appointment") Beratungsgespräch vereinbaren
        nuxt-link.col-12.col-md-5.btn-transparent(to="videos") Zu den Videos
      p
       | Endlich eine einfache und zeitsparende Planung der Finanzen haben und damit das gute Gefühl, gegenüber den Ereignissen des Lebens finanziell gewappnet zu sein.
