div
  .jumbotron-custom
    .video-container(v-if="showVideo")
      .video-color-overlay
      slot(name='video')
        video(autoplay loop muted)
          source(src='~/assets/video/jumbotronv1.mp4' type='video/mp4')
    .image-container(v-if="showImage")
      .image-color-overlay
      slot(name='image')
        img.jumbotron-image(:src="`img/${bgImage}`")
    .jumbotron-container
      h1.jumbotron-h1 {{title}}
      p.h4 {{subtitle}}
      p.description
        | Endlich eine einfache und zeitsparende Planung der Finanzen haben und damit das gute Gefühl, gegenüber den Ereignissen des Lebens finanziell gewappnet zu sein.
      .row.action-container
        pbtn.col-12.col-md-5(to="appointment" text="Beratungsgespräch vereinbaren")
        pbtn.col-12.col-md-5(to="videos" text="Zu den Videos", clazz="secondary")
