.page-wrapper
  .header
    .image-color-overlay
    .title Was spricht mehr für uns als unsere Kunden
  .page
    .row.references-container
      Reference(v-for='{image, name, profession, text, id} in references' :key='id' :image='image' :name='name' :profession='profession' :text='text' :id="id")
